.header-container {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    background-color: #fefef9;
    
    .logo-container {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  
   
    .cart-count {
      position: absolute;
      top: -6px;
      right: -8px;
      background-color: black;
      color: white;
      font-size: 12px;
      border-radius: 50%;
      padding: 2px 6px;
    }
  
    .logo {
      height: 120px;    /* aumentado de 80px */
      object-fit: contain;
    }
  }
  
  .menu {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 8px 0;
    background-color: white;
    margin-bottom: 0.5px;

  
  
    a {
      text-decoration: none;
      transition: color .2s;
      color: #000000;
      font-weight: 300;
      letter-spacing: 1px;
      font-size: 14px;
      padding-right: 0;


    }
    a:hover,
    a.active {
      color: skyblue;
      font-weight: 400;
    }
  }
  @media screen and (max-width: 768px) {
    .menu {
      flex-wrap: nowrap;
      gap: 20px;
      padding: 10px;
    }
  
    .menu a {
      font-size: 12px;
      letter-spacing: 0.5px;
    }
  
    .header-container .logo {
      height: 80px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .menu {
      gap: 25px;
    }
  
    .menu a {
      font-size: 13px;
    }
  
    .header-container .logo {
      height: 60px;
    }
  }
  
  
  