.footer-image-container {
  text-align: center;
  margin-top: 1rem;
  padding-top: 65px;
  margin-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, .3);
  margin-bottom: 2rem; /* margen abajo */
  position: sticky;
  z-index: 10;
}

.footer-image {
  width: 28%;
  height: auto;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: nowrap; /* <- Esto evita que se vayan abajo */
}


.social-icon {
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
}


.footer-links {
  margin-top: 1rem;
  display: flex;
  flex-direction: column; /* textos uno debajo del otro */
  gap: 0.5rem; /* espacio entre enlaces */
  align-items: center;
}

.footer-link {
  color: #333;
  text-decoration: none;
  
}

.footer-link:hover {
  text-decoration: underline;
}

/* Línea negra abajo */
.footer-line {
  border: none;
  height: 2px;
  background-color: black;
  margin-top: 2rem;
}
.social-icon i {
  color: #000;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .social-icons {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .social-icon {
    font-size: 1.8rem;
  }
}
