<!-- Footer -->
<div class="footer-image-container">
    <img src="assets/footer.svg" alt="Footer Incróspito" class="footer-image" />
    
    <div class="social-icons">
      <a href="#" class="social-icon">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    
    <div class="footer-links">
      <a href="#" class="footer-link">Política de Privacidad</a> | 
      <a href="#" class="footer-link">Términos y Condiciones</a>
    </div>
  </div>
  