<!-- Footer -->
<div class="footer-image-container">
  <img src="assets/footer.svg" alt="Footer Incróspito" class="footer-image" />
  
  <div class="social-icons">
    <a href="https://www.facebook.com/people/Incr%C3%B3spito-Mezcal/100091630766372/?mibextid=ZbWKwL" class="social-icon" target="_blank">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.instagram.com/incrospito_mezcal" class="social-icon" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
  
  <div class="footer-links">
    <div><a href="#" class="footer-link">Política de Privacidad</a></div>
    <div><a href="#" class="footer-link">Términos y Condiciones</a></div>
  </div>

  <hr class="footer-line">
</div>
