<div class="background-image"></div>
<div class="overlay"></div>

<div class="header-container">
  <div class="header-texts">
    <p class="titulo-contacto">CONTACTO</p>
    <p class="subtitulo-contacto">Inicio / Contacto</p>
  </div>
</div>

<!-- Imagen de fondo -->
<div class="container fondo-blanco-ajustable">
  <div class="info-container">
    <div class="fondo-imagen-con-cards">
  <img src="assets/fondo.jpg" alt="Fondo decorativo" class="fondo-img" />
  
  <!-- Tarjetas sobre la imagen -->
  <div class="cards">
    <div class="card">
      <div class="icon-wrapper">
        <i class="fa fa-phone icono rotar"></i>
      </div>
      <h4>TELÉFONO</h4>
      <p><a href="tel:5526623930">552662 3930</a></p>
    </div>
    <div class="card">
      <div class="icon-wrapper">
        <i class="fa fa-envelope icono"></i>
      </div>
      <h4>EMAIL</h4>
      <p>ventasincrospito.com</p>
    </div>
    <div class="card">
      <div class="icon-wrapper">
        <i class="fa fa-location-arrow icono"></i>
      </div>
      <h4>DIRECCIÓN</h4>
      <p>Calle Jurisprudencia N° 13<br>Col. Copilco Universidad, CDMX</p>
    </div>
  </div>


  <!-- FORMULARIO DENTRO DEL CONTENEDOR CON IMAGEN -->
  <div class="formulario-container">
    <h3 class="titulo-formulario">Contáctanos</h3>
    <form>
      <input type="text" id="name" name="name" placeholder="Nombre" [(ngModel)]="nombre" />
      <input type="email" id="email" name="email" placeholder="Correo electrónico" [(ngModel)]="correo" />
      <input type="text" id="subject" name="subject" placeholder="Asunto" [(ngModel)]="asunto" />
      <textarea id="message" name="message" placeholder="Mensaje" [(ngModel)]="mensaje"></textarea>
      <button type="button" class="btn-submit" (click)="enviarFormulario()">Enviar</button>
    </form>
  </div>
</div>
</div>


