<div class="background-image"></div>
<div class="overlay"></div>

<div class="header-container">
  <div class="header-texts">
    <p class="titulo-contacto">CONTACTO</p>
    <p class="subtitulo-contacto">Inicio / Contacto</p>
  </div>
</div>

<!-- Imagen de fondo -->
<div class="info-container">
  <img src="assets/fondo.jpg" alt="Fondo decorativo" class="fondo-img" />

  <!-- Tarjetas sobre la imagen -->
  <div class="cards">
    <div class="card">
      <div class="icon-wrapper">
        <i class="fa fa-phone icono"></i>
      </div>
      <h4>TELÉFONO</h4>
      <p>55 2662 3930</p>
    </div>
    <div class="card">
      <div class="icon-wrapper">
        <i class="fa fa-envelope icono"></i>
      </div>
      <h4>EMAIL</h4>
      <p>ventasincrospito.com</p>
    </div>
    <div class="card">
      <div class="icon-wrapper">
        <i class="fa fa-location-arrow icono"></i>
      </div>
      <h4>DIRECCIÓN</h4>
      <p>Calle Jurisprudencia N° 13<br>Col. Copilco Universidad, CDMX</p>
    </div>
  </div>

  <!-- FORMULARIO DENTRO DEL CONTENEDOR CON IMAGEN -->
  <div class="formulario-container">
    <h3 class="titulo-formulario">Contáctanos</h3>
    <form>
      <input type="text" id="name" name="name" placeholder=" Nombre" />
      <input type="email" id="email" name="email" placeholder="Correo electrónico " />
      <input type="text" id="subject" name="subject" placeholder=" Asunto" />
      <textarea id="message" name="message" placeholder="Mensaje "></textarea>
      <button type="submit" class="btn-submit">Enviar</button>
    </form>
  </div>
</div>
<app-flecha-arriba></app-flecha-arriba>

