.background-image {
  background-image: url('/assets/Incrospito5.webp');
  background-size: cover;
  background-attachment: fixed;
  background-position: center 60%;
  background-size: 160%; /* Aumenta el tamaño de la imagen */
  position: absolute;
  width: 100%;
  height: 54%;
  z-index: -2;
  content: '';
  left: 0;
  top: 0;
  opacity: 0.74;
}

/* Estilo del Header */
.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 55px;
  color: white;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #282268;
  opacity: 0.74;
  z-index: -1;
}

/* Títulos */
.titulo-contacto {
  color: #fff;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 2.25em;
}

.subtitulo-contacto {
  font-size: 1rem;
  font-weight: 300; /* Más fina */
  margin: 0;
  color: white;
}

.fondo-blanco-productos {
  background-color: #fff;
  padding: 7px 0;
}

.quienes {
  color: #e47979;
  font-size: 40px;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 50px;
  font-weight: 600;
}

.seccion-gastronomia {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  flex-wrap: wrap;
}

.texto-gastronomia {
  flex: 1;
  min-width: 300px;
  color: #a0a0a0;
  letter-spacing: 0em;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;


}

.imagen-gastronomia {
  flex: 1;
  min-width: 300px;
}

.imagen-gastronomia img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.ventana-historia {
  background-image: url('/assets/Incrospito5.webp');
  background-size: cover;
  background-attachment: fixed;
  color: #a0a0a0;
  position: relative;
  padding: 60px 50px;
  z-index: 1;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 auto;
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
  text-align: left; /* Alinea el texto a la izquierda */
}

.ventana-historia::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: -1;
}

.ventana-historia .main-title h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #ffffff;
  width: auto; /* Elimina el 100vw para que el título no se estire al ancho del viewport */
  text-align: left; /* Alinea el texto a la izquierda */
}


/* Flexbox grid */
.grid__uniform {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.grid__item {
  flex: 1;
  min-width: 300px;
}

/* Estilos de la misión */
.seccion-mision {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 60px 20px;
  position: relative;
  flex-wrap: wrap;
}

.imagen-mision img {
  max-width: 80%;
  height: auto;
  margin-left: -26%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.tarjeta-mision {
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 10px 10px 20px rgba(222, 222, 222, 1);
  max-width: 500px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
  z-index: 1;
  margin-left: -29%;
}

.tarjeta-mision:hover {
  background-color: #22caca;
}

.mision-titulo {
  font-size: 18px;
  color: #000;
  margin: 0;
  text-align: justify;
}

.mision-titulo strong {
  font-weight: bold;
}

.mision-texto {
  font-weight: 200;
  color: #333;
  padding: 0%;
}

.seccion-mision-reversa {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 60px 20px;
  position: relative;
  flex-wrap: wrap;
}

.seccion-vision {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 60px 20px;
  position: relative;
  flex-wrap: wrap;
}

.tarjeta-vision {
  background-color: #ffffff;
  padding: 30px 40px;
  box-shadow: 10px 10px 20px rgba(222, 222, 222, 1);
  max-width: 600px;
  position: relative;
  z-index: 2;
  margin-right: -100px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.tarjeta-vision:hover {
  background-color: #22caca;
}

.imagen-vision {
  position: relative;
  z-index: 1;
}

.imagen-vision img {
  max-width: 80%;
  height: auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.vision-titulo {
  font-size: 18px;
  color: #000;
  margin: 0;
  text-align: justify;
}

.vision-titulo strong {
  font-weight: bold;
}

.vision-texto {
  font-weight: 200;
  color: #333;
}

.valores-completo {
  font-size: 16px;
  line-height: 1.3;
  color: #333;
  font-weight: 300;
  text-align: start;
  margin: 0;
  padding: 9%;
}

.valores-completo strong {
  font-weight: bold;
  margin-right: 4px;
}


/* En móviles, ajustar flexbox para que las imágenes se alineen verticalmente */
@media (max-width: 768px) {
  /* Header */
  .header-container {
    padding: 50px 20px; /* Reducir el padding */
  }

  .titulo-contacto {
    font-size: 1.5em; /* Reducir el tamaño del título */
    margin-bottom: 10px;
  }

  .subtitulo-contacto {
    font-size: 0.9rem;
  }

  /* Sección gastronomía y otras secciones flex */
  .seccion-gastronomia, .grid__uniform, .seccion-mision {
    flex-direction: column;
    gap: 20px; /* Menor espacio entre los elementos */
  }

  .imagen-mision img, .imagen-vision img {
    max-width: 100%; /* Las imágenes no deben exceder el 100% */
    margin-left: 0;
  }

  .tarjeta-mision, .tarjeta-vision {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }

  .ventana-historia .main-title h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  /* Ajuste en las tarjetas */
  .tarjeta-mision, .tarjeta-vision {
    max-width: 100%;
    padding: 20px;
    box-shadow: none; /* Para que no se vea demasiado "pesado" en móviles */
  }
}
