<!-- Botón vertical flotante minimalista -->
<div class="vertical-social" >
  <!-- TOP -->
  <div *ngIf="showButton" class="icon-block" (click)="scrollToTop()">
    <i class="fas fa-arrow-up"></i>
    <span>TOP</span>
  </div>

  <!-- WhatsApp -->
  <a class="icon-block" href="https://wa.me/525526623930" target="_blank">
    <i class="fab fa-whatsapp" style="color: #25D366;"></i>
    <span>WA</span>
  </a>
  

  <!-- Facebook -->
  <a class="icon-block" href="https://www.facebook.com/share/1FgGmto4dD/?mibextid=wwXIfr" target="_blank">
    <i class="fab fa-facebook-f" style="color: #3b5998;"></i>
    <span>Fb</span>
  </a>

  <!-- Instagram -->
  <a class="icon-block" href="https://instagram.com/incrospito_mezcal" target="_blank">
    <i class="fab fa-instagram" style="color: #E1306C;"></i>
    <span>Ig</span>
  </a>
</div>

