<div class="edad-overlay" *ngIf="mostrarModal">
    <div class="edad-modal">
      <img src="assets/logo.webp" alt="Logo" class="edad-logo" />
  
      <h2 class="edad-titulo">Verificación de edad</h2>
      <p class="edad-texto">Debes tener 18 o más para acceder al sitio web.</p>
  
      <div class="edad-botones">
        <button class="btn-morado" (click)="confirmarEdad()">Soy mayor de 18</button>
        <button class="btn-contorno" (click)="rechazarEdad()">Soy menor :(</button>
      </div>
    </div>
  </div>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-encabezado></app-encabezado>
<app-footer></app-footer>
<app-flecha-arriba></app-flecha-arriba>


