

<!-- Imagen grande superior -->
<div class="top-image">
  <img src="assets/Incrospito-mexico.webp" alt="Incrospito México" />
</div>

<!-- Recuadro con 6 tarjetas de imágenes -->
<div class="background-wrapper">
  <img src="assets/fondo.jpg" alt="Fondo" class="background-image" />

  <div class="image-gallery-container">
    <div class="image-gallery">

      <div *ngFor="let botella of botellas" class="card-info">
        <!-- Aquí es donde ajustamos el enlace para que use el router -->
        <a [routerLink]="['/botella', botella.id]" class="card-image">
          <img [src]="botella.image" [alt]="botella.name" />
        </a>
        <span class="card-title">{{ botella.name }}</span>
        <span class="card-price">${{ botella.price }}</span>
      </div>

    </div>
  </div>
</div>



<!-- Botón centrado entre secciones -->
<div class="middle-button-container">
  <a routerLink="/tienda" class="ver-tienda-btn">VER TIENDA</a>
</div>

<div class="text-over-image">
  <img src="assets/Mezcal-Incrospito_2000x.webp" alt="Incrospito México" />
  <div class="overlay-text">
    <p>En medio de una charla amena de 3 grandes amigos, nos llegó ese momento Incróspito®, pasando por todo: alegría, nostalgia, tristeza y el sueño de volver a trabajar juntos con la pasión de triunfar...</p>
    <a routerLink="/quienes-somos" class="ver-mas-btn">VER MÁS</a>
  </div>
</div>

<div class="imagenes">
<h2 class="centered-text">
  CUÉNTANOS TU LADO INCRÓSPITO® <br />
</h2>
<h5 class="hashtag text-center">#miladoincrospito</h5>
<div class="images-container">
  <img src="assets/Incrospito1.webp" alt="Incrospito1">
  <img src="assets/Incrospito2.webp" alt="Incrospito2">
  <img src="assets/Incrospito3.webp" alt="Incrospito3">
  <img src="assets/Incrospito4.jpg"  alt="Incrospito4">
  <img src="assets/Incrospito5.webp" alt="incrospito5">
  <img src="assets/Incrospito6.webp" alt="Incrospito6">
</div>
</div>
<div class="contact-section">
  <!-- Izquierda: formulario con imagen de fondo -->
  <div class="contact-left">
    <div class="form-overlay">
      <form>
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name" placeholder=" " />

        <label for="email">Correo electrónico</label>
        <input type="email" id="email" name="email" placeholder=" " />

        <label for="subject">Asunto</label>
        <input type="text" id="subject" name="subject" placeholder=" " />

        <label for="message">Mensaje</label>
        <textarea id="message" name="message" placeholder=" "></textarea>

        <button type="submit" class="btn-submit">Enviar</button>
      </form>
    </div>
  </div>

  <!-- Derecha: información de contacto -->
  <div class="contact-right border-title" data-aos="fade-right" data-aos-duration="1000">
    <h3>Contáctanos</h3>
    <p>
      Estamos para servirte. Por favor déjanos tus datos y en breve nos pondremos en contacto contigo
    </p>

    <div class="contact-grid">
      <div class="contact-item">
        <div class="icon-title">
          <i class="fab fa-instagram"></i>
          <div class="text-block">
            <div class="title">Instagram</div>
            <div class="text">&#64;incrospito_mezcal</div>
          </div>
        </div>
      </div>
      
      <div class="contact-item">
        <div class="icon-title">
          <i class="fab fa-facebook-square"></i>
          <div class="text-block">
            <div class="title">Facebook</div>
            <div class="text">Incróspito Mezcal</div>
          </div>
        </div>
      </div>
      
      <div class="contact-item">
        <div class="icon-title">
          <i class="fas fa-phone-alt"></i>
          <div class="text-block">
            <div class="title">Teléfono</div>
            <div class="text">55 2662 3930</div>
          </div>
        </div>
      </div>
      
      <div class="contact-item">
        <div class="icon-title">
          <i class="fas fa-envelope"></i>
          <div class="text-block">
            <div class="title">Mail</div>
            <div class="text">ventas&#64;incrospito.com</div>
          </div>
        </div>
      </div>
  </div>
</div>

    
    





 











  

  
  