<div class="header-container">
    <div class="left-icons">
      <i class="fa fa-search"></i>
    </div>
  
    <div class="logo-container">
        <img src="assets/serpiente.png" alt="Logo Serpiente" class="logo" style="width: 300px; height: auto;" />
        <div class="titulo">
       
      </div>
    </div>
  
    <div class="right-icons">
      <i class="fa fa-user"></i>
      <div class="cart-icon">
      </div>
    </div>
  </div>
  
  <nav class="menu">
    <a class="active" href="#">Inicio</a>
    <a href="#">Quienes Somos</a>
    <a href="#">Tienda</a>
    <a href="#">Contacto</a>
  </nav>
  
  <button class="btn btn-primary">¡Hola, Bootstrap!</button>
<!-- Dropdown de Bootstrap -->
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Acción 1</a>
      <a class="dropdown-item" href="#">Acción 2</a>
      <a class="dropdown-item" href="#">Acción 3</a>
    </div>
  </div>
  
  