
<div class="top-image">
  <img src="assets/Incrospito-mexico.webp" alt="Incrospito México" />
</div>
<div class="background-wrapper">
  <img src="assets/fondo.jpg" alt="Fondo" class="background-image" />
  <div class="image-gallery-container">
    <div class="image-gallery">
      <div *ngFor="let botella of botellas" class="card-info">
        <a [routerLink]="['/botella', botella.id]" class="card-image">
          <img [src]="botella.image" [alt]="botella.name" />
        </a>
        <span class="card-title">{{ botella.name }}</span>
        <span class="card-price">${{ botella.price }}</span>
      </div>
    </div>
  </div>
</div>

<div class="middle-button-container">
  <a routerLink="/tienda" class="ver-tienda-btn">VER TIENDA</a>
</div>
<div class="text-over-image">
  <img src="assets/Mezcal-Incrospito_2000x.webp" alt="Incrospito México" />
  <div class="overlay-text">
    <p>En medio de una charla amena de 3 grandes amigos, nos llegó ese momento Incróspito®, pasando por todo: alegría, nostalgia, tristeza y el sueño de volver a trabajar juntos con la pasión de triunfar...</p>
    <a routerLink="/quienes-somos" class="ver-mas-btn">VER MÁS</a>
  </div>
</div>

<div class="imagenes">
<h2 class="centered-text">
  CUÉNTANOS TU LADO INCRÓSPITO® <br />
</h2>
<h5 class="hashtag text-center">#miladoincrospito</h5>
<div class="images-container">
  <img src="assets/Incrospito1.webp" alt="Incrospito1">
  <img src="assets/Incrospito2.webp" alt="Incrospito2">
  <img src="assets/Incrospito3.webp" alt="Incrospito3">
  <img src="assets/Incrospito4.jpg"  alt="Incrospito4">
  <img src="assets/Incrospito5.webp" alt="incrospito5">
  <img src="assets/Incrospito6.webp" alt="Incrospito6">
</div>
</div>
<div class="contact-section">
  
  <!-- Izquierda: formulario con imagen de fondo -->
  <div class="contact-left">
    <div class="form-overlay-nf">
      <div class="input-group">
        <input type="text" id="inicio-name" name="name" placeholder="Nombre" [(ngModel)]="inicio.nombre"/>
      </div>
      <div class="input-group">
        <input type="email" id="inicio-correo" name="correo" placeholder="Correo electrónico" [(ngModel)]="inicio.correo"/>
      </div>
      <div class="input-group">
        <input type="text" id="inicio-asunto" name="asunto" placeholder="Asunto" [(ngModel)]="inicio.asunto"/>
      </div>
      <div class="input-group">
        <textarea id="inicio-mensaje" name="message" placeholder="Mensaje" [(ngModel)]="inicio.mensaje"></textarea>
      </div>
      <div *ngIf="cargando" class="loader"></div>
      <button type="button" class="btn-submit-nf" [disabled]="cargando" (click)="enviarFormulario()">
        <span *ngIf="!cargando">Enviar</span>
      </button>
    </div>
  </div>
  
  
  

  <!-- Derecha: información de contacto -->
  <div class="contact-right border-title" data-aos="fade-left" data-aos-duration="1000">
    <h3>Contáctanos</h3>
    <p>
      Estamos para servirte. Por favor déjanos tus datos y en breve nos pondremos en contacto contigo
    </p>
  
    <div class="contact-grid">
      <div class="contact-item" data-aos="fade-left" data-aos-delay="100">
        <div class="icon-title">
          <i class="fab fa-instagram"></i>
          <div class="text-block">
            <div class="title">Instagram</div>
            <div class="text">&#64;incrospito_mezcal</div>
          </div>
        </div>
      </div>
  
      <div class="contact-item" data-aos="fade-left" data-aos-delay="200">
        <div class="icon-title">
          <i class="fab fa-facebook-square"></i>
          <div class="text-block">
            <div class="title">Facebook</div>
            <div class="text">Incróspito Mezcal</div>
          </div>
        </div>
      </div>
  
      <div class="contact-item" data-aos="fade-left" data-aos-delay="300">
        <div class="icon-title">
          <i class="fas fa-phone-alt"></i>
          <div class="text-block">
            <div class="title">Teléfono</div>
            <div class="text">55 2662 3930</div>
          </div>
        </div>
      </div>
  
      <div class="contact-item" data-aos="fade-left" data-aos-delay="400">
        <div class="icon-title">
          <i class="fas fa-envelope"></i>
          <div class="text-block">
            <div class="title">Mail</div>
            <div class="text">ventas&#64;incrospito.com</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  




    
    





 











  

  
  